@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #ebf0fa;
}
header{
    @apply bg-black
}
.hero{
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @apply bg-slate-400
}

nav a{
    @apply px-4 relative
}


nav a::before{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: all 0.3s;
    border-radius: 10px;
    @apply bg-white
}
  
nav a:hover::before{
    width: 100%;
}
nav a:focus::before{
    width: 100%;
    @apply bg-white
}
nav a.active::before{
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.header-text h2::before{
    content: '';
    width: 70px;
    height: 3px;
    position: absolute;
    right: 13rem;
    top: 1.2rem;
    /* @apply bg-white */
}

.sidenav a{
    display: block;
    @apply py-3
      pl-10 font-medium duration-200
}

section{
    padding: 5rem 1rem;
}
section h1{
    @apply text-3xl text-center md:text-5xl font-semibold text-black
}
section p{
    @apply pt-5 text-center font-semibold text-black
}